---
Checks:
  - '-*'
  - 'bugprone-*'
  - 'cert-*'
  - 'clang-analyzer-*'
  - 'concurrency-*'
  - 'cppcoreguidelines-*'
  - 'google-*'
  - 'hicpp-*'
  - 'misc-*'
  - 'modernize-*'
  - 'performance-*'
  - 'portability-*'
  - 'readability-*'
  # for use reinterpret_cast
  - '-cppcoreguidelines-pro-type-reinterpret-cast'
  # for use magic number directly
  - '-cppcoreguidelines-avoid-magic-numbers'
  - '-readability-magic-numbers'
  # disable the minimum length restriction
  - '-readability-identifier-length'
  # avoid must include header file directly
  - '-misc-include-cleaner'
  # enable pointer arithmetic
  - '-cppcoreguidelines-pro-bounds-pointer-arithmetic'
  # for use c style array
  - '-hicpp-avoid-c-arrays'
  - '-cppcoreguidelines-avoid-c-arrays'
  - '-modernize-avoid-c-arrays'

WarningsAsErrors: '*'
CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase,          value: lower_case }
  - { key: readability-identifier-naming.ClassCase,              value: CamelCase  }
  - { key: readability-identifier-naming.StructCase,             value: CamelCase  }
  - { key: readability-identifier-naming.TemplateParameterCase,  value: CamelCase  }
  - { key: readability-identifier-naming.FunctionCase,           value: aNy_CasE  }
  - { key: readability-identifier-naming.VariableCase,           value: lower_case }
  - { key: readability-identifier-naming.ClassMemberCase,        value: lower_case }
  - { key: readability-identifier-naming.PrivateMemberSuffix,    value: _          }
  - { key: readability-identifier-naming.ProtectedMemberSuffix,  value: _          }
  - { key: readability-identifier-naming.EnumCase,                 value: CamelCase }
  - { key: readability-identifier-naming.EnumConstantCase,         value: CamelCase }
  - { key: readability-identifier-naming.EnumConstantPrefix,       value: k         }
  - { key: readability-identifier-naming.ConstexprVariableCase,    value: CamelCase }
  - { key: readability-identifier-naming.ConstexprVariablePrefix,  value: k         }
  - { key: readability-identifier-naming.GlobalConstantCase,       value: CamelCase }
  - { key: readability-identifier-naming.GlobalConstantPrefix,     value: k         }
  - { key: readability-identifier-naming.MemberConstantCase,       value: CamelCase }
  - { key: readability-identifier-naming.MemberConstantPrefix,     value: k         }
  - { key: readability-identifier-naming.StaticConstantCase,       value: CamelCase }
  - { key: readability-identifier-naming.StaticConstantPrefix,     value: k         }

SystemHeaders:   false
